* {
          margin: 0 ;
          padding:  0 ;
}

body {
          font-family: Helvetica, sans-serif;
}

section {
          width: 90%;
          margin: 0 auto;
          padding: 2% 0 ;

          border-top: 4px solid #000 ;
          border-bottom: 4px solid #000 ;
}

h1 {
          text-align: center;
          text-transform: uppercase;
          font-size: 200%;
          border: 2px solid #000000 ;
          padding: 2%;
          margin: 0 0 2% 0 ;
}

.container-1, .container-2,.container-3 {
          background-color: #222;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 10px ;
          padding: 1% 0 ;
          color: #fff ;
}
.container-2 {
          padding: 5% 0% ;
}

.flexbox-1, .flexbox-2 {
          width: 40%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-around;
}
.flexbox-1-1 {
          padding: 2% 0;
          display: flex;
          align-items: center;
          justify-content: space-around;
}

button {
          padding: 2% ;
          width: 150px ;
          border-radius: 5px ;
          border: 0 ;
          font-size: 125% ;
          color: #fff ;
          cursor: pointer;
          outline: 0 ;
}

.green-btn {
          min-height: 60px;
          background-color: #00cf00 ;
}

.red-btn {
          min-height: 60px;
          background-color: #db0000 ;
}

.age-input {
          z-index: -1;
          outline: 0;
          border: 2px solid #740000 ;

          background-color: #ffcfcf;
          border-radius: 5px;
}
.age-input.active {
          padding: 5%;
          text-align: center;
          color: #999 ;
          z-index: 2 ;
}

.flexbox-1-2 {
          color: #00cf00 ;
          padding: 0 0 2% 0 ;
          font-size: 200% ;
}

.flexbox-2-1 {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;
          padding: 2% ;
}

.flexbox-2-1 img {
          height: 300px;
          width: 200px;
          margin: 2% ;
}

.container-3 h1 {
          background-color: #000 ;
          color: #EEDB00 ;
}

.container-3 p {
          font-size: 125% ;
          line-height: 150% ;
}

#C3-desc-p {
          color: #EEDB00 ;
          font-size: 175% ;
          line-height: 200% ;
}

#C3-vader-p {
          color: #f00 ;
}
#C3-luke-p {
          color: #2FF923 ;
}
#C3-obiwan-p {
          color: #00c3ff ;
}

.flexbox-3 {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100% ;
          padding: 5% 0 ;
}

.flexbox-3 img {
          height: 200px ;
          width: 200px ;
          margin: 0 2% ;
          padding: 1% ;
}

#C3-vader-img:hover,
#C3-vader-img:active {
          background-color: #f00 ;
          transition: 0.2s ;
}

#C3-luke-img:hover,
#C3-luke-img:active {
          background-color: #2FF923 ;
          transition: 0.2s ;
}

#C3-obiwan-img:hover,
#C3-obiwan-img:active {
          background-color: #2719C7 ;
          transition: 0.2s ;
}